html {
  height: 100%;
  width: 100%;
  font-size: 8px;
}

body {
  margin: 0;
  font-family: Inter;
  background-color: #f8f8f8 !important;
  width: 100%;
  height: 100%;
  @media (max-width: 768px) {
    -webkit-tap-highlight-color: transparent;
  }
}

.products-container {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 12px;
  padding: 24px;
  margin: 24px;
}

.title {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.section {
  margin: 40px 0px 20px 0px;
}

.section .heading {
  font-size: 22px;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-weight: 600;
}

.section .heading a {
  text-decoration: none;
  color: #2e31be;
}

.section .heading a:hover {
  text-decoration: underline;
}

.section .description {
  font-size: 14px;
  color: #666;
  line-height: 21px;
  padding-top: 8px;
}

.product-list-container {
  display: flex;
  border: 1px solid #e4e5e6;
  min-height: 102px;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.card-avatar {
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;
  display: flex;
  align-items: center;
}

.card-avatar img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.product-name {
  font-weight: 600;
  font-size: 14px;
  color: #41434c;
  line-height: 21px;
}

.product-item-code {
  font-weight: 400;
  font-size: 12px;
  color: #9b9b9b;
}

.product-brand-name {
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.product-category {
  font-size: 12px;
}

.cl-RoyalBlue {
  color: #2e31be;
  margin-left: 2px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader img {
  height: 100px
}
